<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="clientes.length == 0">
            <td colspan="5">Nenhum cliente cadastrado</td>
        </tr>
        <tr *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.endereco}}</td>
            <td><a mat-raised-button color="primary" routerLink="../editar/{{cliente.id}}">Editar</a></td>
            <td><a mat-raised-button color="warn">Excluir</a></td>
        </tr>
    </tbody>
</table>



<!-- <tr *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id}}</th>
            <td *ngIf="cliente.nome == null">Nome não informado</td>
            <td *ngIf="cliente.nome != null">{{cliente.nome}}</td>
            <td>{{cliente.endereco}}</td>
            <td><a mat-raised-button color="primary" href="../editar/{{cliente.id}}">Editar</a></td>
            <td><a mat-raised-button color="warn">Excluir</a></td>
        </tr> -->